<html>
    <head>
      <title>
        About 
      </title>
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <div class="main-content">
        <h1>
           {{>header}}
        </h1>
        <p> This site is created by Taniya Thomas. It uses data from mapbox and weatherstack.</p>
      </div>
      <img class="protrait" src="images/smilely.jpg">
        <p>
          {{>footer}}
        </p>
    </body>
</html>