<html>
    <head>
            <link rel="stylesheet" href="/css/style.css">
    </head>    
        <body>
           div <div class="main-content">
               {{>header}}
            <h1>
                404 Error found , {{description}}
            </h1>

           </div>
            {{>footer}}

        </body>
    
</html>


