<html>
    <head>
        <title>
            Weather
        </title>
        <link rel="stylesheet" href="/css/style.css">
           </head>
    <body>
        div <div class="main-content">
            <h1>
           {{>header}}
        </h1>
        <p>Use me for knowing the weather!!</p>
        <form>
            <input  id='search-add' placeholder="Location">
            <button>Search</button>

        </form>

        <p id='para1Data'>

        </p>
        <p id='para2Data'>

        </p>

        </div>
        
        <p>{{>footer}}</p>
        
     <script src="/js/one.js"></script>

    </body>
</html>